torch-geometric==2.6.1 -f https://data.pyg.org/whl/torch-2.4.0+cpu.html
torch_cluster==1.6.3 -f https://data.pyg.org/whl/torch-2.4.0+cpu.html
torch_scatter==2.1.2 -f https://data.pyg.org/whl/torch-2.4.0+cpu.html
torch_sparse==0.6.18 -f https://data.pyg.org/whl/torch-2.4.0+cpu.html
torch_spline_conv==1.2.2 -f https://data.pyg.org/whl/torch-2.4.0+cpu.html

