# Number of targets and antitargets to select
protein_selection:
  small_molecule_target: "P23975" # if multiple targets, they should be comma separated
  nanobody_target: "P23975"

# Competition parameters
competition:
  # No submission blocks
  no_submission_blocks: 10
  nanobody_weight: 0.1 # proportion of incentive to give to nanobody winner

# Molecular property requirements
molecule_requirements:
  min_heavy_atoms: 10
  min_rotatable_bonds: 1
  max_rotatable_bonds: 10
  num_molecules: 1
  min_entropy: 0.1 # minimum entropy required when num_molecules > 1

# Reaction filtering configuration
reaction_filtering:
  random_valid_reaction: false  # true = one random reaction per epoch, false = all reactions valid
  # temporarily set to false for testing. prod config should be true

# Boltz2 configuration
boltz2_config:
  boltz_metric: ["affinity_probability_binary", "affinity_pred_value"] # metric to use for scoring: ["affinity_pred_value", "affinity_probability_binary", "confidence_score", ...]
  combination_strategy: "heavy_atom_normalization" # "heavy_atom_normalization" or "average"
  boltz_mode: max # "max" or "min"

# Nanobody requirements
nanobody_requirements:
  num_sequences: 1
  min_sequence_length: 90
  max_sequence_length: 150
  min_cysteines: 1 # minimum number of cysteines required - keep?
  cys_pair_min_separation: 35 # keep? minimum separation between cysteine pairs, only valid when min_cysteines > 1
  cys_pair_max_separation: 80 # keep? maximum separation between cysteine pairs, only valid when min_cysteines > 1
  max_homopolymer_run: 6 # maximum length of a homopolymer run (e.g. AAAAAA)
  max_di_repeat_pairs: 4 # maximum number of di-repeat pairs (e.g."GSGSGSGSGS" has 5 pairs -> reject)
  reject_signal_peptides: true # reject sequences that look like signal peptides (strong N term hydrophobicity)
  sp_window: 12
  sp_hydro_min_in_window: 8 # >=8 hydrophobic in a 12-aa window
  sp_scan_prefix: 30 # length of N term sequence to scan for signal peptide

boltzgen_config:
  boltzgen_rank_mode: min # "max" or "min"
  boltzgen_rank_by: rank_sum # "rank_sum" or "worst_rank"