abnumber==0.4.4
anarci==2026.2.13.2
anarcii==2.0.5
biopython==1.85
substrate-interface==1.7.11
async-substrate-interface==1.6.4
bittensor==9.9.0
boto3==1.42.74
cryptography>=46.0.6
datasets==3.3.2
fair-esm==2.0.0
gemmi==0.6.5
huggingface-hub==1.8.0
immunebuilder==1.2
lifelines==0.30.0
openmm==8.5.0
pandas==2.2.3
pdbfixer==1.12.0
promb==1.0.2
python-dotenv==1.2.2
rdkit==2024.9.4
requests>=2.33.0
scikit-learn==1.6.1
pytorch-lightning==2.5.5
git+https://github.com/openmm/pdbfixer.git@v1.12
promb==1.0.2
git+https://github.com/oxpig/ImmuneBuilder.git@0df4e2ad82a1aa60f37ea9dae335d1198159ef78
git+https://github.com/oxpig/TNP.git@29dcac72f1380e8538e8870f45a699d3c6156162
